# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GitHub\2021Database_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
